body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .map-container{
    z-index: 0;
    position: relative;
    width: 100%;
    height:87vh;
  }
  .map-overlay2{
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(0, 0, 0);
    padding: 6px 12px;
    font-family: monospace;
    font-size: 13px;
    z-index: 1;
    position:absolute;
    margin: 12px;
    border-radius: 4px;
    opacity: 1;
    bottom: 28px;
    right: 1px;
    display:inline-block;
  }
  .map-overlay{
    background-color: rgba(255, 255, 255, 0.95);
    color: rgb(0, 0, 0);
    padding: 6px 8px;
    font-family: monospace;
    font-size: 14px;
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 41%;
    border-radius: 4px;
  }